<!doctype html>
<html class="no-js">
    <head>
            <meta charset="utf-8">
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
            <title>angular</title>
            <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

            <!-- build:css styles/vendor.css -->
            <!-- bower:css -->
            <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
            <!-- endbower -->
            <!-- endbuild -->

            <!-- build:css styles/main.css -->
            <link rel="stylesheet" href="styles/main.css">
            <!-- endbuild -->

            <!-- build:js scripts/vendor/modernizr.js -->
            <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="PeopleList"> <!-- angular derective -->
                           <!-- equal to name of app.module, which controlls everything inside of body -->

    <div class="hero-unit">
      <div svg></div>

      <h1>Angular</h1>
      <a href="#/">Home</a>|<a href="#/about">About</a>
    <div class="container" ng-view></div>
    <div ng-include src=" 'templates/sidebar-template.html' "></div>
    <!-- only view within ng-app PeopleList, so you just tell it too look for all views associated with it, no need to specify -->




<!-- 
     <div class="something" ng-controller="PersonController">
        <p> Hi, my name is {{ person.name }} and I am {{ person.age }} years old. </p>
      <p ng-repeat="p in people"> 
       {{$index + 1}}:Hi, my name is {{ p.name}} and I am {{ p.age }} years old. 
        <a ng-show="p.test" href="#" ng-click="hello(p.name, $index)">Say Hi</a> 
       
       </p>






 -->








    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/controllers/about_controller.js"></script>
        <script src="scripts/controllers/person_controller.js"></script>
        <script src="scripts/controllers/other_controller.js"></script>
        <!-- endbuild -->
</body>
</html>
